{% extends "base.njk" %}

{% block css_link %}

<link rel="preload" href="/css/sobre.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
{% endblock %}

{% block noscript_link %}
<link rel="stylesheet" href="/css/sobre.css" />
{% endblock %}

{% block content %}
<section aria-label="Seção" class="secao-sobre-nos">
  <div class="sobre-nos">
    <h1 class="titulo-sobre">Sobre Nós</h1>
    <p class="paragrafo">Bem-vindo à CodeCraft, onde a tecnologia e a inovação se encontram para transformar o seu negócio!</p>
  </div>

  <div class="sobre-nos">
    <h2 class="sub-titulo">Quem Somos</h2>
    <p class="paragrafo">Na CodeCraft, nossa missão é impulsionar o crescimento de micro e grandes empresas através de soluções tecnológicas personalizadas e de alta qualidade...</p>

    <h2 class="sub-titulo">Nosso Compromisso</h2>
    <p class="paragrafo">Na CodeCraft, entendemos que cada empresa é única...</p>
  </div>

  <div class="sobre-nos">
    <h2 class="sub-titulo">O Que Fazemos</h2>
    <p class="paragrafo">Oferecemos uma ampla gama de serviços para ajudá-lo a alcançar o sucesso:</p>
    <ul class="topicos-ul">
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Desenvolvimento de Sistemas...</li>
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Marketing Digital...</li>
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Gestão de Mídias Sociais...</li>
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Criação de Sites Responsivos...</li>
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Automatização de Processos...</li>
    </ul>
  </div>

  <div class="sobre-nos">
    <h2 class="sub-titulo">Por Que Escolher a CodeCraft?</h2>
    <ul class="topicos-ul">
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Expertise e Experiência...</li>
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Soluções Personalizadas...</li>
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Resultados Comprovados...</li>
      <li class="paragrafo-li"><i class="fa-solid fa-check"></i> Atendimento de Qualidade...</li>
    </ul>
  </div>

  <div class="convite">
    <p class="paragrafo3">Junte-se a nós na CodeCraft e descubra como podemos transformar seu negócio...</p>
  </div>
</section>
{% endblock %}

{% block footer %}
<footer>
  <div class="sobre_titulo1">
    <h1>CodeCraft</h1>
    <p class="footer_comercial">Todos os direitos reservados &copy; 2024</p>
  </div>
</footer>
{% endblock %}
